<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Karla|Space+Mono" rel="stylesheet">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="container" class="{{page.container_class}}">
    <header>
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    </header>

    {{ content }}

    <footer>
      <p>
        &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      </p>
    </footer>
  </div>
</body>
</html>
